

<div id="character-container">
<h3> Welcome to Sesame Street Bingo! </h3>	
	<ul id="character-row"> 
		<li> <img src="img/elmo.jpeg"> </li>
		<li> <img src="img/zoe.jpeg"> </li>
		<li> <img src="img/cookie.jpeg"> </li>
		<li> <img src="img/abby.jpeg"> </li>
		<li> <img src="img/ernie.jpeg"> </li>
		<li> <img src="img/bigBird.jpeg"> </li>
	</ul>
	



	
  
 <p><a ng-click="submit()" role="button" class="btn btn-info btn-lg" id="generateBtn"href="#/display">Push for new Character!</a> </p>

 <div>
  
